# Example environment variables for docker-compose
# Postgres configuration
POSTGRES_DB=beforum
POSTGRES_USER=beforum
POSTGRES_PASSWORD=changeme
AUTH_BACKEND_URL=http://localhost:8081
SUPABASE_URL=SUPABASE_URL
