# Example environment variables for docker-compose
# Postgres configuration
POSTGRES_DB=beforum
POSTGRES_USER=beforum
POSTGRES_PASSWORD=changeme
AUTH_BACKEND_URL=http://localhost:8081
SUPABASE_URL=SUPABASE_URL
OTEL_ENVIRONMENT=dev
OTEL_EXPORTER_OTLP_ENDPOINT=http://host.docker.internal:4318
OTEL_LOGS_ENDPOINT=http://host.docker.internal:4318/v1/logs
OTEL_TRACE_SAMPLING_PROBABILITY=1.0
OTEL_JAVA_GLOBAL_AUTOCONFIGURE_ENABLED=true
OTEL_LOGS_EXPORTER=otlp
OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://host.docker.internal:4318/v1/logs
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
