name: Deploy

on:
  workflow_run:
    workflows: ["CI - Build Test Coverage Sonar"] # this usually takes the longest
    types:
      - completed

jobs:
  check-workflow-status:
    runs-on: ubuntu-latest
    outputs:
      all_success: ${{ steps.check-status.outputs.all_success }}
    steps:
      - name: Check status of linter.yml
        id: check-lint
        uses: actions/github-script@v6
        with:
          script: |
            const { data: lint } = await github.rest.actions.listWorkflowRuns({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'linter.yml',
              branch: 'main',
              event: 'push',
              status: 'completed',
              per_page: 1
            });
            return lint.workflow_runs[0].conclusion === 'success';
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}

      - name: Check status of scorecard.yml
        id: check-scorecard
        uses: actions/github-script@v6
        with:
          script: |
            const { data: scorecard } = await github.rest.actions.listWorkflowRuns({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'scorecard.yml',
              branch: 'main',
              event: 'push',
              status: 'completed',
              per_page: 1
            });
            return scorecard.workflow_runs[0].conclusion === 'success';
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}

      - name: Check status of sonarcloud.yml
        id: check-sonar
        uses: actions/github-script@v6
        with:
          script: |
            const { data: sonar } = await github.rest.actions.listWorkflowRuns({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'sonarcloud.yml',
              branch: 'main',
              event: 'push',
              status: 'completed',
              per_page: 1
            });
            return sonar.workflow_runs[0].conclusion === 'success';
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}

      - name: Verify all workflows succeeded
        id: check-status
        run: |
          if [[ "${{ steps.check-lint.outputs.result }}" == "true" && \
               "${{ steps.check-scorecard.outputs.result }}" == "true" && \
               "${{ steps.check-sonar.outputs.result }}" == "true" ]]; then
            echo "all_success=true" >> $GITHUB_OUTPUT
          else
            echo "all_success=false" >> $GITHUB_OUTPUT
          fi

  deploy:
    needs: check-workflow-status
    if: ${{ needs.check-workflow-status.outputs.all_success == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to production
        run: echo "Deploying to production..."